---
debug: false
puppetdb:
  url: 'http://localhost:8080/pdb/query/v4'
servicenow:
  url: 'https://<your instance name>/api/now'
  username: 'your user'
  password: 'your password'
  vmware_vm_id: id for testing
syslog:
  log_to_syslog: false
  facility: daemon
